/* Color scheme */
:root {
  --black: #08090A;
  --moss-green: #899878;
  --white: #FFFFFF;
  --wine: #823038;
  --rosy-brown: #BB8A89;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter";
  font-size: 20px;
  min-height: 100%;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body.hidescrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  position: relative;
  border-bottom: solid 4px #899878;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  overflow: hidden;
}

.logo a {
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: bolder;
  padding: 0 3rem 0 0;
  color: var(--wine);
  cursor: pointer;
  text-decoration: none;
  /* background-color: yellow; */
}

.logo p {
  color: var(--moss-green);
  top: -4px;
  font-size: 0.7rem;
  padding: 0 3rem 0 0;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--rosy-brown); */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

}

nav li {
  display: inline;
  font-weight: bold;
  font-size: 0.8rem;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline;
  color: var(--rosy-brown);
  transition: 0.3s;
  padding-left: 3rem;
}

nav li:hover {
  color: var(--moss-green);

}


/* nav a:not(:last-child)::after {
  content: " | ";
  font-size: 0.7rem;
  font-weight: lighter;
  margin: 15px;
} */

main {
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  /* margin: 0 10rem; */
}

footer {
  padding: 1rem 5rem;
  display: flex;
  align-items: flex-end;
  border-top: solid 4px var(--moss-green);
  /* background-color: pink; */
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* background-color: yellow; */
}

.footer-copyright {
  font-size: 10px;
  word-spacing: 2px;
  color: var(--wine);
  /* background-color: gray; */
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
  /* background-color: gray; */
  
}

.socials li {
  margin: 0 4rem;
  margin-right: 0;
}


.socials a {
  text-decoration: none;
  border: 2px solid var(--rosy-brown);
  padding: 1.1rem 1.3rem .4rem .6rem;
  border-radius: 50%;
  color: var(--rosy-brown);
}

.socials a i {
  font-size: 2rem;
  width: 1rem;
}

.socials a:hover i {
  color: var(--moss-green);
  transition: color .4s ease;
}

@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}