/* Color scheme */
:root {
    --black: #08090A;
    --moss-green: #899878;
    --white: #FFFFFF;
    --wine: #823038;
    --rosy-brown: #BB8A89;
}

.hero-image  {
    background: url(/img/jeremy-bishop-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.hero-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 25rem;
}

.hero-text {
    align-items: center;
    color: white;
    background: rgba(0,0,0);
    background: rgba(0,0,0,0.5);
    padding: 1rem;
    border-radius: 0 50px 0 0;
}

article h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

article p {
    font-size: .8rem;
    padding-top: 1rem;
}

/* .img-columns-container {
    height: auto;
    --number-of-columns: 3;
    --spacing: 15px;
    --row-height: 356px;
    --text-align: center;
    --show-more-container-height: 25px;
    width: 100%;
    left: 0;
    margin-left: 0;
    min-width: initial;
} */

.img-columns-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    justify-self: stretch;
    overflow: hidden;
}

.img-columns {
    width: 33.33%;
    height: 350px;
    justify-content: center;

 }

.row::after {
    content: "";
    clear: both;
    display: table;
}

article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.row-img-overlay {
    position: flex;
    display: none;
    /* width: 382px;
    height: 81px; */
    background-color: #FFFFFF;
    opacity: 90%;
    z-index: 2;
}

article div img p {
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--wine);
}

body>footer {
    padding: 20px 20px 200px 200px;
    display: flex;
    align-items: flex-end;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
    color: var(--wine);
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials li {
    list-style: none;
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--wine);
    border: 1.1px solid var(--rosy-brown);
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
}

.socials a:hover i {
    color: var(--moss-green);
    transition: color   .4s ease;
}

